<h1>¡Bienvenido a WithClimb!</h1>

<p>
    Por favor confirma tu email haciendo click en el siguiente enlace: <br><br>
    <a href="{{ verifyUrl }}">Confirmar mi Email</a>.
    Este enlace expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Nos vemos pronto!
</p>