{% extends 'base.html.twig' %}


{% block title %}Registro realizado correctamente - WithClimb{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                ¡Registro realizado correctamente!
            </h2>
            <p>Se ha enviado un correo electrónico a la dirección proporcionada para confirmar tu cuenta.</p></p>
        </div>
    </div>
{% endblock %}