{% macro testimonial(name, since_year, quote, icon_name = 'user') %}
    <div class="bg-white p-6 rounded-lg shadow">
        <div class="flex items-start space-x-4">
            <div class="w-12 h-12 rounded-full bg-orange-100 flex items-center justify-center">
                <div class="w-12 h-12 rounded-full bg-orange-100 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-orange-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>
                </div>
            </div>
            <div>
                <h3 class="font-semibold">{{ name }}</h3>
                <p class="text-gray-600 text-sm">Escalador{% if name|last == 'a' %}a{% endif %} desde {{ since_year }}</p>
                <p class="mt-2">"{{ quote }}"</p>
            </div>
        </div>
    </div>
{% endmacro %}